<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: logo"></div>

<nav th:replace="fragments :: nav"></nav>

<h1>Add Tasks</h1>

    <!-- [ ] TODO: Hook up functionality with the controller. -->
    <form action="post">
        <div class="form">
            <label>Task Name</label>
            <input type="text" />
            <span class="errors"></span>
        </div>

        <input type="submit" value="Add Task" />
    </form>


</body>
</html>