<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: logo"></div>

<nav th:replace="fragments :: nav"></nav>

<!-- [ ] TODO: Functionality for if there isn't a room present, list all tasks. -->
<!-- [ ] TODO: Put in changing room for which room it is if there is a room in the form. -->
<h1 th:replace="${title}"></h1>

<!-- [ ] TODO: Figure out how to list tasks based on which room was clicked. -->
<!-- [ ] TODO: If there are no tasks... -->
    <div th:unless="${room.tasks.size()}">
        No tasks yet. <a href="#">Add one!</a>
    </div>

<!-- [ ] TODO: If there are tasks... for each task list checkbox, task, date last done, room it belongs to. Figure out how you want to do this visually. -->

</body>
</html>