<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: logo"></div>

<nav th:replace="fragments :: nav"></nav>

<!-- [X] TODO: Add functionality to the controller. -->


<div class="table">

    <div class="row">
        <div class="right">Don't have an account? <a href="signup">Sign up for one!</a></div>
    </div>

    <form method="post" th:object="${user}">

        <div class="row">
            <div class="cell"><label>Username</label></div>
            <div class="cell"><input type="text" /></div>
        </div>
        <div class="row">
            <div class="cell"></div>
            <div class="cell"><span class="error"></span></div>
        </div>

        <div class="row">
            <div class="cell"><label>Password</label></div>
            <div class="cell"><input type="password" /></div>
        </div>
        <div class="row">
            <div class="cell"></div>
            <div class="cell"><span class="error"></span></div>
        </div>

        <div class="row">
            <div class="cell"><input type="submit" value="I'M READY!" /></div>
        </div>

    </form>
</div>
</body>
</html>