<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: nav"></nav>

<h1>Sign Up!</h1>


    <!-- [ ] TODO: Hook up functionality to the controller -->
    <form method="post" th:object="${user}">
        <div class="form">
            <label>Username</label>
            <input type="text" />
            <span class="error"></span>
        </div>

        <div class="form">
            <label>Email</label>
            <input type="email" />
            <span class="error"></span>
        </div>

        <div class="form">
            <label>Password</label>
            <input type="password" />
            <span class="error"></span>
        </div>

        <div class="form">
            <label>Verify Password</label>
            <input type="password" />
            <span class="error"></span>
        </div>

        <div class="form">
            <label>Favorite Activity</label>
            <input type="text" />
            <span class="error"></span>
        </div>

        <input type="submit" value="Let's Get Spinning!" />
    </form>


</body>
</html>