<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: nav"></nav>

<!-- [ ] TODO: Add the wheel code here. -->

<!-- [ ] TODO: Add the pop up to ask for room selections if there are none / someone is not signed in. -->

<!-- [ ] TODO: Add the pop up to appear once a room is selected. -->

<!-- [ ] TODO: Add the second spinner for those logged in. -->

<!-- [ ] TODO: Add the pop up to appear once someone has finsihed the task that was selected. -->

</body>
</html>